.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/**/gradle-wrapper.jar

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
**/Icon?

# Web
/web/*.js.map
